a{
    text-decoration: none !important;
}
.project-item-wrapper{
    background: #ccc;
    padding: 15px !important;
    margin: 10px !important;
    width: 23%;
}
.project-btn{
    margin-top: 25px !important;
}
.project-item-actions{
    text-align: center;
}
.project-wrapper{
    margin-top: 20px;
}
.project-back-btn-wrapper{
    text-align: right;
}
.project-item-action-btn{
    margin-right: 10px !important;
}

.schedule-item{
    margin: 40px auto 0px auto;
}

.schedule-input-item{
    margin-top: 20px;
    border: 1px dashed;
    width: 100%;
    margin-left: 0;
    padding: 30px 10px;
}

.schedule-input-item .col-md-4{
    float: left;
}